{% extends 'home/base.html' %}

{% block mi_contenido %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Quienes Somos</div>
    </div>
</header>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Equipo de Desarrollo</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="home/assets/img/team/2.jpg"  />
                    <h4>Jose Arjona</h4>
                    <p class="text-muted">Hola soy un estudiante de 26 años el cual se declara aficionado por la tecnología en especial por la programación, esto me ha permitido empezar a trabajar en este ramo en la CDMX, te invito a que tu tambien te unas a este fascinante mundo.  </p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/josearjonapimentel/" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member1">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" />
                    <h4>Ivan Plaza</h4>
                    <p class="text-muted">Hola, mi nombre es Ivan Plaza, tengo 24 años de edad y actualmente vivo en Buenos Aires - Argentina, soy estudiate de Ingenieria en Sistemas y pronto me gustaria trabajar de Desarrollador </p>                    
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/IvanAltPla" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>                    
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>

{% endblock mi_contenido %}