{% extends 'home/base.html' %}

{% block titulo_pagina %}
<title>Index</title>
{% endblock titulo_pagina %}

{% block mi_contenido %}
{% block mi_cabezera %}

{% endblock mi_cabezera %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        {% block h1_texto_cabezera %}
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
        {% endblock h1_texto_cabezera %}
    </div>
</header>
    {% block index_contenido %}
    
    {% endblock index_contenido %}

{% endblock mi_contenido %}