{% extends 'home/base.html' %}

{% block titulo_pagina %}
<title>Info'VideojuegosAP</title>
{% endblock titulo_pagina %}

{% block mi_contenido %}
{% block mi_cabezera %}

{% endblock mi_cabezera %}
<!-- Masthead-->
{% block index_contenido %}
    
{% endblock index_contenido %}
<header class="masthead">
    <div class="container">
        {% block h1_texto_cabezera %}
        <div class="masthead-subheading">¡Bienvenido a Nuestro Estudio!</div>
        <div class="masthead-heading text-uppercase">Info'Videojuegos</div>        
        {% endblock h1_texto_cabezera %}
    </div>
</header>
    

{% endblock mi_contenido %}