{% extends 'home/index.html' %}
{% block title_pagina %}
<title>
    Consultar Usuarios Creados 
</title>
{% endblock title_pagina %}

{% block h1_texto_header %} <h1>Ver Personas</h1>{% endblock h1_texto_header %}

{% block h1_texto_cabezera %}
<div class="masthead-heading text-uppercase">Bienvenido a ver Usuarios</div>
<div class="masthead-subheading">o si lo prefieres...</div>
<a class="btn btn-primary btn-xl text-uppercase" href={% url 'crear_usuario' %}>Crear Usuario</a>
{% endblock h1_texto_cabezera %}
{% block index_contenido %}
    <h6>Listado de Usuarios:</h6>
    <p>
        {% if usuario %}
        {% for usuarios in usuario  %}
        <li>{{usuarios.nombre}} {{usuarios.apellido}} Edad:{{usuarios.edad}}</li>
        {% endfor %}
        {% else %}
        <p>No se encontraron resultados</p>
        {% endif %}        
    </p>  
    <form action={% url 'ver_usuarios' %} method="GET">        
        {% csrf_token %}
        {{formulario}} 
        <button>Buscar</button>
    </form>
      
{% endblock index_contenido %}

